// Most actions that you can bind here can also be invoked programmatically with
// `niri msg action do-something`.

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Tiling modes
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    // Screenshots
    Mod+Shift+S { screenshot; }
    Mod+Shift+W { screenshot-window; }
    Mod+Print { screenshot-screen; }

    // Do any input to turn back on.
    Mod+Ctrl+Shift+P { power-off-monitors; }
    Ctrl+Alt+Delete { quit; }

    // Apps
    Mod+E hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Y hotkey-overlay-title="Open yazi" { spawn-sh "kitty --hold yazi"; }

    // System Controls
    Mod+SemiColon hotkey-overlay-title="Open noctalia settings" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Mod+Space hotkey-overlay-title="Open noctalia launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+Grave hotkey-overlay-title="Lock the Screen" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    // Media Controls
    XF86AudioPrev { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86AudioPlay { spawn  "qs" "-c" "noctalia-shell" "ipc" "call" "media" "playPause" ;}
    XF86AudioNext { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "next"; }

    // Volume & Mic Controls
    XF86AudioRaiseVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteInput"; }

    // Brightness controls
    XF86MonBrightnessUp { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    // Window Management
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    // Move focus
    // -- windows
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+WheelScrollDown        cooldown-ms=150   { focus-workspace-down; }
    Mod+WheelScrollUp          cooldown-ms=150   { focus-workspace-up; }
    Mod+Shift+WheelScrollDown  cooldown-ms=150   { focus-column-right; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150   { focus-column-left; }

    Mod+Ctrl+C { center-visible-columns; }

    // -- monitors
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    // Moving windows
    // -- within monitor
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // -- across monitors
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Resizing windows
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    // Moving workspaces
    Mod+Shift+U         { move-workspace-to-monitor-left; }
    Mod+Shift+P         { move-workspace-to-monitor-right; }
    Mod+Shift+I         { move-workspace-down; }
    Mod+Shift+O         { move-workspace-up; }

    // Keep in mind that niri is a dynamic workspace system,
    // so these commands are kind of "best effort".
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }


    // Finer width adjustments.
    // "1000", "+20", "10%", "+10%"
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
