


// apparently this is pretty nice with niri out the box
spawn-at-startup "qs" "-c" "noctalia-shell"
hotkey-overlay {
    skip-at-startup
}


output "eDP-1" {
    // off
    scale 1.2
}

output "Hewlett Packard HP P201 6CM4320ZW3" {
    // scale 0.8333333
}


animations {
    // off
    slowdown 0.8
}
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "./input.kdl"
include "./rules.kdl"
include "./layout.kdl"
include "./binds.kdl"
include "./noctalia.kdl"
