input {
    // mod-key "Alt"

    keyboard {
        xkb {
            // Swaps keys for no finger pain. Yay!
            // See manual of xkeyboard-config
            options "altwin:swap_lalt_lwin"
        }
        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.35
        accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse

        scroll-factor 0.30
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.1
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}
