layout {
    background-color "rgba(0,0,0,0.0)"
    gaps 8
    center-focused-column "never"
    default-column-width {}

    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }

    focus-ring {
        on
        width 3

        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Since Noctalia 3.5.0, this is no longer needed
        // to theme the focus ring and stuff GOATED update

        // ---- calli pink ----
        // active-color "rgb(223,82,115)"

        // ---- Monochrome ----
        // active-color "#aaaaaa"
        // active-color "#6e6e6e"
        // active-color "#4d4d4d"

        // ---- Gruvbox ----
        // active-color "#ebdbb2"
        // active-color "#928374"
        // active-color "#83a598"
        // active-color "#b8bb26"

        // ---- emudotto ----
        // active-color "#9ECAFF"
        // active-color "#33405A"
        // active-color "#7C8AA4"
        // active-color "#ACD370"
        // active-color "#616D55"
        // active-color "#545454"
        // active-color "#6b6b6b"
        // active-color "#131F2B"
        // active-color "#5E808C"

        // was trying something out lol. I was hoping that I could 
        // automatically set the color here like this.
        // active-color "cat ~/.config/kitty/current-theme.conf | grep color4 | awk '{print $2}'"
    }

    shadow {
        off
        draw-behind-window false
        softness 22
        spread 8
        offset x=8 y=-8

        // You can also change the shadow color and opacity.
        color "#0005"
    }
}
