layout {

    focus-ring {
        active-color   "#ffb1c2"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb1c2"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb1c2"
        inactive-color "#7c2943"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb1c280"
    }
}
